#root{
  height: 100%;
  background:
    linear-gradient(
       0deg,
        black,
        transparent
   ),
    linear-gradient(
        60deg,
        black,
        transparent
   ),
   linear-gradient(
        120deg,
        black,
        transparent
   ),
   linear-gradient(
        180deg,
        black,
        transparent
   ),
   linear-gradient(
        240deg,
        black,
        transparent
   ),
   linear-gradient(
        300deg,
        black,
        transparent
   ),
   linear-gradient(
        180deg,
        #0C0032,
        transparent
   );

   background-blend-mode: screen;
   background-image: url(https://image.freepik.com/free-vector/vector-network-background-abstract-polygon-triangle_2065-76.jpg)
}

.navbar-container-wrap {
  font-family: $roboto-condensed;
  transition: ease 0.5s;
}

.navbar-container-wrap:hover {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .7);
}
.navbar-container {
  height: 120px;
  width: 1200px;
}

.navbar-logo {
  font-weight: $roboto-condensed-weight;
  color: #fff;
  font-size: 44px;
  height: 100px;
  width: 200px;
}

.navbar-search {
  background-color: transparent;
  width: 600px;
  height: 40px;
  border: 0;
  border-bottom: 1px rgb(52, 1, 154) solid;
  font-size: 20px;
  color: white;
  outline: none;
  caret-color: rgb(255, 255, 255);
  transition: ease .3s;
  // background-color: blue;
}

.navbar-search:hover {
  border-bottom: 1px rgb(73,0,218) solid;
}

.navbar-buttons {}

.logout, .profile {}

.navbar-button-style{
  margin-left: 20px;
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.5);
  transition: ease 0.3s;

}

.navbar-button-style:hover {
  color: white;
}
