.navbar-main-container-wrap {
  width: 100%;
}

.navbar-container-wrap {
  font-family: $roboto-condensed;
  transition: ease 0.5s;
}

.navbar-container-wrap:hover {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .7);
}
.navbar-container {
  height: 120px;
  width: 1100px;
}

.navbar-logo {
  font-weight: $roboto-condensed-weight;
  color: #fff;
  font-size: 44px;
  height: 100px;
  width: auto;
}

.navbar-search {
  background-color: transparent;
  width: 600px;
  height: 40px;
  border: 0;
  border-bottom: 1px rgb(52, 1, 154) solid;
  font-size: 20px;
  color: white;
  outline: none;
  caret-color: rgb(255, 255, 255);
  transition: ease .3s;
}

.navbar-search:hover {
  border-bottom: 1px rgb(73,0,218) solid;
}

.navbar-buttons {
}

.logout, .profile {}

.logout {
  margin-left: 20px;
}

.navbar-button-style{
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.5);
  transition: ease 0.3s;
}

.navbar-button-style:hover {
  color: white;
}

@media (max-width: 1200px) {
  .navbar-container{
    width: 700px;
  }
  .navbar-search {
    width: 350px;
    font-style: italic;
  }
}

.navbar-logo-h1 {
  cursor: pointer;
}