@import "../base/fonts.scss" ;
.profile-page-container{
    font-family: $roboto-condensed;
    color: white;
}
.history-table{
    background: rgb(77, 136, 155);
}
.hashtag{
    background: blue;
}
.table-title{
    text-align: center;
}
.test{
}