@import "../base/fonts.scss" ;
.profile-page-container{
    font-family: $roboto-condensed;
    color: white;
}
.history-table{
    background: lightblue;
}
.hashtag{
}
.table-title{
    text-align: center;
}