/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
// CSS Reset
@import "base/colors.scss";
@import "base/fonts.scss";
@import "base/reset.scss";

// Components
@import "components/navbar";
@import "components/splash";
@import "components/modal";
@import "components/dashboard";
@import "components/footer";
@import "components/profile";

body {
  height: 100%;
  width: 100%;
  background:
    linear-gradient(
      0deg,
      black,
      transparent
      ),
    linear-gradient(
      60deg,
      black,
      transparent
      ),
      linear-gradient(
      120deg,
      black,
      transparent
      ),
      linear-gradient(
      180deg,
      black,
      transparent
      ),
      linear-gradient(
      240deg,
      black,
      transparent
      ),
      linear-gradient(
      300deg,
      black,
      transparent
      ),
      linear-gradient(
      180deg,
      $dark-purple,
      transparent
      );
  background-blend-mode: screen;
  background-attachment: fixed;
}

.flex-center-row, .flex-center-spread, .flex-center-col, .flex-center, .flex-right-row, .flex-left-row {
  display: flex;
  align-items: center;
}

.flex-center, .flex-center-row, .flex-center-col, .flex-left-row {
  justify-content: center;
}

.flex-center-row {
  flex-direction: row;
}

.flex-center-spread {
  justify-content: space-between;
}

.flex-center-col {
  flex-direction: column;
}

.flex-right-row {
  justify-content: flex-end;
}

.flex-left-row {
  justify-content: flex-start;
}

.flex-left-col-spread {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}