@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700%7CUnica+One);

// Font Variables
$roboto-condensed: 'Roboto Condensed', sans-serif;
$roboto-condensed-weight: 400;

$unica-one: 'Unica One', cursive;
$unica-letter-spacing: 2px;

// see colors.scss for color variables